@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    margin: 0;
}
.menubar {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.logo{
    display: flex;
    padding: 20px 0;
}
.main-menu{
    font-family: 'Poppins', sans-serif;
}
.menuProduct{
    position: relative;
}
.menuProduct::after{
    content: ">";
    position: absolute;
    top: 29px;
    left: 95px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transform: rotate(91deg);
}
.dropdown-menu{
    display: none;
    margin: 0 -14px;
    padding: 0;
    position: absolute;
    top: 56px;
    left: 22px;
    width: 244px;
    background: white;
}
.menuProduct:hover .dropdown-menu{
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    display: block;
}
.main-menu:hover .menu-item a{
    color: gray;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.main-menu:hover .menuProduct::after{
    color: gray;
}
.main-menu:hover .menu-item:hover a{
    color: white;
}
.d-menu-item a:hover{
    color: white !important;
}
.main-menu-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu-ul li{
    display: inline-block;
    padding: 27px 20px;
}
.d-menu-item{
    list-style: none;
    display: block !important;
    padding: 12px 13px !important;
}
.menu-item a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.dropdown-menu a{
    color: black !important;
    padding: 12px 13px !important;
}
.d-menu-item:hover{
    background: deepskyblue;
    width: 218px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.bannerImg {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}
.bannerImg img {
    width: 100%;
    position: absolute;
    top: -92px;
}
.menubar-button {
    display: flex;
    align-items: center;
}
a.btn {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background: linear-gradient(270deg, #0a66bc 0, #1dbef1 100%);
    border-radius: 4px;
    border: none !important;
    font-size: 14px;
    padding: 10px 20px;
}
a.btn:hover{
    background: #1dbef1;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.text-white{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.headerBanner{
    position: relative;
}
.headerBanner::after{
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
    position: absolute;
    top: -90px;
    right: -9px;
    bottom: -216px;
    left: -9px;
    z-index: -1;
}
.bannerContent{
    position: absolute;
    top: 159px;
    left: 335px;
}
.heading{
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin: 0 auto;
}
.sideHeading{
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    font-weight: 500;
}
.paragraph{
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
}
@media only screen and (max-width:375px){
    .menubar{
        margin: 0;
        padding: 8px 15px;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        position: fixed;
        width: 92%;
        z-index: 2;
    }
    .main-menu{
        color: black;
    }
    .main-menu-ul li{
        display: block;
        padding: 8px 5px;
    }
    .menu-item a{
        color: black;
    }
    .dropdown-menu{
        display: block;
        position: static;
        margin: 0;
    }
    .menubar-button{
        display: flex;
        justify-content: center;
        margin: 20px 0 10px;
    }
    a.btn{
        padding: 10px 111px;
    }
    .logo{
        padding: 0;
        float: left;
    }
    .menu-icon-bar{
        position: relative;
    }
    .menu-icon{
        position: absolute;
        width: 20px;
        height: 2px;
        left: 338px;
        top: 29px;
        background-color: #39364e;
        z-index: 2;
    }
    .menu-icon::before{
        content: "";
        position: absolute;
        top: -7px;
        width: 20px;
        height: 2px;
        background-color: #39364e;
    }
    .menu-icon::after{
        content: "";
        position: absolute;
        top: 7px;
        width: 20px;
        height: 2px;
        background-color: #39364e;
    }
    .menuProduct::after{
        top: 5px;
        left: 323px;
        color: black;
        font-size: 24px;
        font-family: cursive;
        font-weight: 500;
    }
    .bannerImg {
        max-width: none;
        width: 1819px;
        position: relative;
        z-index: -1;
    }
    .bannerImg img {
        width: 100%;
        position: absolute;
        top: -17px;
        left: -456px;
    }
    .bannerContent{
        top: 467px;
        left: 11px;
        width: 95%;
        text-align: center;
    }
    .headerBanner{
        overflow: hidden;
        height: 93vh;
    }
    .headerBanner::after{
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1.5));
        top: 399px;
        right: 0px;
        bottom: 0px;
        left: -1px;
    }
    .heading{
        font-size: 21px;
    }
    .sideHeading{
        font-size: 16px;
    }
}